body {
    // margin: 0 3em 0 3em;
    display: block;
    margin: 0 auto;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 23%, rgba(148,187,233,1) 77%);
}

.main-container {
    width: 800px;
    background-color: #fff;
    margin: 3em 0 3em 0;
    padding: 0 2em 2em 2em;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 26px 18px 29px -5px #777777;
}

.prof-container img {
    width: 180px;
    height: 250px;
    padding-top: 2em;
}

.prof-container:first-of-type {
    padding-right: 2em;
}

.prof-container div {
    line-height: 3px;
}

.prof-container:nth-child(2){
    padding-top: 3em;
}

.name {
    font-size: 25px;
    margin: 0 0 10px 0;
}

.profile  {
    display: flex;
    padding-bottom: 0;
 }

 .dob::before {
    font-family: FontAwesome;
    content: '\f1fd';
 }

 .phone::before {
    font-family: FontAwesome;
    content: '\f095';
 }

 .email::before {
    font-family: FontAwesome;
    content: '\f0e0';
 }

 .email2::before {
    font-family: FontAwesome;
    content: '\f0e0';
 }

 .address::before {
    font-family: FontAwesome;
    content: '\f2b9';
 }

 .border {
    border-top: 1px solid #000; 
    margin: 2em 0 2em 0;
 }

.work-exp-title, .edu-title, .license-title, .self-promo-title, .reason-title {
    color: #a191db;
    font-size: 20px;
}

.work-exp, .education, .license, .self-promo, .reason {
    margin-bottom: 2em;
}

 .work-exp-title::before {
    font-family: FontAwesome;
    content: '\f0b1';
 }

 .edu-title::before {
    font-family: FontAwesome;
    content: '\f549';
 }

 .license-title::before {
    font-family: FontAwesome;
    content: '\f0eb';
 }

 .reason-title::before {
    font-family: FontAwesome;
    content: '\f075';
 }

 .self-promo-title::before {
    font-family: FontAwesome;
    content: '\f005';
 }

 li{
    line-height: 35px;
 }

 .pr, .rs {
    line-height: 2em;
 }

 footer {
    text-align: center;
    margin-bottom: 2em;
 }
